Connect to the google drive

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

### Import Libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Import the data file

In [4]:
df = pd.read_csv('/content/drive/MyDrive/Time Series/WDIData.csv')

# 1 - Data Analysis

### 1.1 Check how the data looks

In [5]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.368101,82.783289,83.120303,83.533457,83.897596,84.171599,84.510171,NaN,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.007620,86.428272,87.070576,88.176836,87.342739,89.130121,89.678685,90.273687,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,73.466653,73.942103,75.244104,77.162305,75.538976,78.741152,79.665635,80.749293,NaN,NaN

### 1.2 - Dataset Size and what the columns are

In [6]:
df.shape

(422136, 64)

In [7]:
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', 'Unnamed: 63'],
      dtype='object')

### 1.3 - Overview of column data types and missing values

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422136 entries, 0 to 422135
Data columns (total 64 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    422136 non-null  object
 1   Country Code    422136 non-null  object
 2   Indicator Name  422136 non-null  object
 3   Indicator Code  422136 non-null  object
 4   1960            38262 non-null   float64
 5   1961            41977 non-null   float64
 6   1962            44156 non-null   float64
 7   1963            44036 non-null   float64
 8   1964            44564 non-null   float64
 9   1965            47250 non-null   float64
 10  1966            46847 non-null   float64
 11  1967            48579 non-null   float64
 12  1968            48158 non-null   float64
 13  1969            49961 non-null   float64
 14  1970            92948 non-null   float64
 15  1971            99195 non-null   float64
 16  1972            101947 non-null  float64
 17  1973            101557 non-null  float64
 18  1974            102931 non-null  float64
 19  1975            107030 non-null  float64
 20  1976            109122 non-null  float64
 21  1977            112632 non-null  float64
 22  1978            112243 non-null  float64
 23  1979            113076 non-null  float64
 24  1980            117891 non-null  float64
 25  1981            119781 non-null  float64
 26  1982            121066 non-null  float64
 27  1983            120843 non-null  float64
 28  1984            121670 non-null  float64
 29  1985            122836 non-null  float64
 30  1986            123696 non-null  float64
 31  1987            125092 non-null  float64
 32  1988            124816 non-null  float64
 33  1989            126589 non-null  float64
 34  1990            150868 non-null  float64
 35  1991            155969 non-null  float64
 36  1992            159969 non-null  float64
 37  1993            161459 non-null  float64
 38  1994            163664 non-null  float64
 39  1995            171324 non-null  float64
 40  1996            171552 non-null  float64
 41  1997            172695 non-null  float64
 42  1998            174755 non-null  float64
 43  1999            180007 non-null  float64
 44  2000            204197 non-null  float64
 45  2001            194487 non-null  float64
 46  2002            199438 non-null  float64
 47  2003            200236 non-null  float64
 48  2004            205695 non-null  float64
 49  2005            219480 non-null  float64
 50  2006            217486 non-null  float64
 51  2007            221433 non-null  float64
 52  2008            220464 non-null  float64
 53  2009            221482 non-null  float64
 54  2010            236962 non-null  float64
 55  2011            227654 non-null  float64
 56  2012            229276 non-null  float64
 57  2013            224822 non-null  float64
 58  2014            230038 non-null  float64
 59  2015            224078 non-null  float64
 60  2016            215692 non-null  float64
 61  2017            189735 non-null  float64
 62  2018            83318 non-null   float64
 63  Unnamed: 63     0 non-null       float64
dtypes: float64(60), object(4)
memory usage: 206.1+ MB
None

### 1.4 - Summary statistics for numerical columns

In [9]:
df.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
count,3.826200e+04,4.197700e+04,4.415600e+04,4.403600e+04,4.456400e+04,4.725000e+04,4.684700e+04,4.857900e+04,4.815800e+04,4.996100e+04,...,2.369620e+05,2.276540e+05,2.292760e+05,2.248220e+05,2.300380e+05,2.240780e+05,2.156920e+05,1.897350e+05,8.331800e+04,0.0
mean,2.442220e+11,2.418092e+11,2.441951e+11,2.520348e+11,2.698163e+11,2.868766e+11,3.110350e+11,3.256079e+11,3.780995e+11,4.092617e+11,...,1.648256e+12,1.919604e+12,2.053926e+12,2.330338e+12,2.475555e+12,2.643786e+12,2.990721e+12,3.537043e+12,5.677840e+12,NaN
std,1.001605e+13,1.049408e+13,1.094889e+13,1.151203e+13,1.239287e+13,1.369554e+13,1.514173e+13,1.652651e+13,1.903648e+13,2.152378e+13,...,7.047039e+13,8.039151e+13,8.666281e+13,9.935972e+13,1.090464e+14,1.157186e+14,1.306338e+14,1.486203e+14,1.837943e+14,NaN
min,-3.344191e+14,-3.823000e+14,-4.327955e+14,-4.769875e+14,-5.339358e+14,-6.264716e+14,-7.120024e+14,-8.245134e+14,-9.379467e+14,-1.122499e+15,...,-1.827709e+14,-2.168927e+14,-3.013845e+14,-3.495617e+14,-5.189385e+14,-8.530882e+14,-1.374105e+15,-1.345846e+15,-4.599951e+14,NaN
25%,4.272070e+00,4.601415e+00,4.533140e+00,4.753457e+00,4.831391e+00,4.644542e+00,4.872674e+00,4.760664e+00,5.040681e+00,4.536045e+00,...,4.914968e+00,5.399331e+00,5.018739e+00,5.158872e+00,5.105746e+00,5.252173e+00,4.976971e+00,4.997969e+00,7.000000e+00,NaN
50%,3.528500e+01,3.681016e+01,3.584284e+01,3.535911e+01,3.641009e+01,3.825296e+01,3.955614e+01,4.117647e+01,4.197375e+01,3.910783e+01,...,4.197800e+01,4.631169e+01,4.536574e+01,4.557322e+01,4.621599e+01,4.586800e+01,4.528034e+01,4.897000e+01,4.717015e+01,NaN
75%,2.339688e+05,2.145859e+05,1.393708e+05,1.870050e+05,2.302688e+05,3.603471e+05,4.593505e+05,4.345400e+05,6.520675e+05,5.600000e+05,...,2.351858e+05,4.902175e+05,4.200002e+05,6.129132e+05,3.369000e+05,5.048042e+05,9.762197e+05,6.664168e+06,6.596510e+06,NaN
max,8.353728e+14,9.312536e+14,1.011252e+15,1.084815e+15,1.184553e+15,1.388505e+15,1.544572e+15,1.724250e+15,1.979579e+15,2.302920e+15,...,6.864133e+15,7.831726e+15,8.676844e+15,1.000180e+16,1.155185e+16,1.167182e+16,1.319219e+16,1.534503e+16,1.491231e+16,NaN

#### 1.4 - Check for missing values

In [10]:
# Count missing values in each column
print(df.isnull().sum())

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960              383874
                   ...
2015              198058
2016              206444
2017              232401
2018              338818
Unnamed: 63       422136
Length: 64, dtype: int64

### 1.5 - See how many **unique** *Indicator Name* and *Country Code* are present

In [11]:
df['Indicator Name'].nunique()

1599

In [12]:
df['Country Code'].nunique()

264

### 1.6 - Creating a new dataframe where a Indicator Name matches:

*   GDP per capita (current US$)
*   CO2 emissions (metric tons per capita)

In [13]:
# rows with Indicator name matching with 'GDP per capita (current US$)' will be returned
gdp_per_capita_df = df.loc[df['Indicator Name'] == 'GDP per capita (current US$)']
gdp_per_capita_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
523,Arab World,ARB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5945.678558,6889.091806,7503.174184,7551.282834,7497.726925,6458.702258,6202.690406,6284.737723,6625.507319,NaN
2122,Caribbean small states,CSS,GDP per capita (current US$),NY.GDP.PCAP.CD,447.101607,475.671874,493.461134,515.410838,546.537661,579.448366,...,9075.706457,9743.619786,10007.371148,10090.027335,10149.197121,9916.666674,9242.035178,9442.912794,9910.397885,NaN
3721,Central Europe and the Baltics,CEB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,12567.404996,13872.615410,12998.665269,13710.080616,14152.393835,12467.450176,12773.783836,14167.649103,15902.299611,NaN
5320,Early-demographic dividend,EAR,GDP per capita (current US$),NY.GDP.PCAP.CD,155.827817,152.920933,154.319928,159.763265,179.066848,189.604165,...,2938.879732,3246.211837,3354.503243,3367.696207,3439.546743,3291.528607,3321.457299,3545.022221,3581.455982,NaN
6919,East Asia & Pacific,EAS,GDP per capita (current US$),NY.GDP.PCAP.CD,147.229032,147.154368,148.505207,161.779035,181.616787,197.573087,...,7673.741646,8836.854594,9392.895426,9433.150535,9647.929555,9526.576304,9766.122869,10332.832262,11132.229665,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414664,Virgin Islands (U.S.),VIR,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,40043.190166,39144.165774,37849.728721,34819.147755,33573.097030,34797.140470,35931.541252,35938.024388,NaN,NaN
416263,West Bank and Gaza,PSE,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2354.125987,2695.193853,2834.021525,3060.312389,3046.821798,2967.851747,3074.291152,3254.485887,3198.866644,NaN
417862,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1334.784845,1374.621313,1446.536280,1607.152275,1674.002766,1608.744312,1139.870568,963.494721,944.408499,NaN
419461,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,232.188867,220.042137,212.578123,213.896441,242.384333,303.281910,...,1489.459070,1672.949830,1763.094184,1878.903489,1763.056239,1332.194321,1280.578447,1534.865371,1539.900158,NaN
421060,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,278.813699,280.828951,276.688781,277.479715,281.558440,293.308854,...,948.331854,1093.654002,1304.969802,1430.000818,1434.899340,1445.071062,1464.583529,1602.403507,2146.996385,NaN

In [14]:
# rows with Indicator name matching with 'CO2 emissions (metric tons per capita)' will be returned
co2Emi_metricTon_perCapita_df = df.loc[df['Indicator Name'] == 'CO2 emissions (metric tons per capita)']
co2Emi_metricTon_perCapita_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
207,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.645736,0.687465,0.763574,0.878238,1.003053,1.170540,...,4.636813,4.559462,4.837780,4.674925,4.886988,NaN,NaN,NaN,NaN,NaN
1806,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.401337,2.059977,2.703738,1.350237,2.362947,2.601916,...,9.291597,9.152374,8.888217,9.132325,8.871220,NaN,NaN,NaN,NaN,NaN
3405,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,5.104206,5.330535,5.658550,6.064745,6.454644,6.604577,...,6.828034,6.864349,6.504367,6.344838,6.148883,NaN,NaN,NaN,NaN,NaN
5004,Early-demographic dividend,EAR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.594013,0.604162,0.624157,0.638623,0.665061,0.695949,...,2.120645,2.202526,2.297640,2.213076,2.298216,NaN,NaN,NaN,NaN,NaN
6603,East Asia & Pacific,EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.162460,0.996779,0.895692,0.914268,0.942162,0.998188,...,5.702481,6.190753,6.307835,6.331191,6.294256,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414348,Virgin Islands (U.S.),VIR,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415947,West Bank and Gaza,PSE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.537533,0.578903,0.552814,0.598168,NaN,NaN,NaN,NaN,NaN,NaN
417546,"Yemen, Rep.",YEM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.683679,0.494324,0.710130,0.525293,0.644143,0.686312,...,1.011975,0.826044,0.762823,1.013900,0.878996,NaN,NaN,NaN,NaN,NaN
419145,Zambia,ZMB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,0.946606,1.096876,...,0.197823,0.209458,0.253506,0.265078,0.292412,NaN,NaN,NaN,NaN,NaN
420744,Zimbabwe,ZWE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,1.034903,1.166242,...,0.612528,0.741686,0.594152,0.874563,0.884721,NaN,NaN,NaN,NaN,NaN

In [15]:
print(gdp_per_capita_df.shape)
print(co2Emi_metricTon_perCapita_df.shape)

(264, 64)
(264, 64)

#### 1.7 - Change the indices of these new dataframes and assign them country codes as new idices

In [16]:
gdp_per_capita_df.index = gdp_per_capita_df["Country Code"]
gdp_per_capita_df.index

Index(['ARB', 'CSS', 'CEB', 'EAR', 'EAS', 'EAP', 'TEA', 'EMU', 'ECS', 'ECA',
       ...
       'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'VIR', 'PSE', 'YEM', 'ZMB', 'ZWE'],
      dtype='object', name='Country Code', length=264)

In [17]:
co2Emi_metricTon_perCapita_df.index = co2Emi_metricTon_perCapita_df['Country Code']
co2Emi_metricTon_perCapita_df.index

Index(['ARB', 'CSS', 'CEB', 'EAR', 'EAS', 'EAP', 'TEA', 'EMU', 'ECS', 'ECA',
       ...
       'URY', 'UZB', 'VUT', 'VEN', 'VNM', 'VIR', 'PSE', 'YEM', 'ZMB', 'ZWE'],
      dtype='object', name='Country Code', length=264)

#### 1.8 - Take the data for the year **2014**

##### 1.8.1 - Check if there are missing values from each dataframe for the same year

In [18]:
gdp_per_capita_df['2013'].shape

(264,)

In [19]:
sum(gdp_per_capita_df['2013'].isnull())

12

In [20]:
co2Emi_metricTon_perCapita_df['2013'].shape

(264,)

In [21]:
sum(co2Emi_metricTon_perCapita_df['2013'].isnull())

13

##### 1.8.2 - Remove the missing values from each dataframe

In [22]:
# The values that are NOT null will be saved
gdp_per_capita_df_2014 = gdp_per_capita_df['2013'].loc[~gdp_per_capita_df['2013'].isnull()]
gdp_per_capita_df_2014.shape

(252,)

In [23]:
# The values that are NOT null will be saved
co2Emi_metricTon_perCapita_df_2014 = co2Emi_metricTon_perCapita_df['2013'].loc[~co2Emi_metricTon_perCapita_df['2013'].isnull()]
co2Emi_metricTon_perCapita_df_2014.shape

(251,)

##### 1.8.3 - Concatenate the dataframes

*   Concatenate them column wise
*   Rename the column names
*   Check the inconcistency of the data

In [24]:
# Concatenate them column wise
gdp_co2_concat_df_2014 = pd.concat((gdp_per_capita_df_2014, co2Emi_metricTon_perCapita_df_2014), axis=1)
gdp_co2_concat_df_2014.shape

(260, 2)

In [25]:
gdp_co2_concat_df_2014.head()

                      2013      2013
Country Code
ARB            7551.282834  4.674925
CSS           10090.027335  9.132325
CEB           13710.080616  6.344838
EAR            3367.696207  2.213076
EAS            9433.150535  6.331191

In [26]:
# Rename the column names
gdp_co2_concat_df_2014.columns = ['GDP per capita (current US$)', 'CO2 emissions (metric tons per capita)']
gdp_co2_concat_df_2014.head()

,GDP per capita (current US$),CO2 emissions (metric tons per capita)
Country Code,,
ARB,7551.282834,4.674925
CSS,10090.027335,9.132325
CEB,13710.080616,6.344838
EAR,3367.696207,2.213076
EAS,9433.150535,6.331191

For some countries, some data might not be available for both GDP and CO2 emission

In [27]:
# For each row check is any of the column contains null value
# Indicating either of the column for corresponding country is empty
# Only keep the rows that return False
gdp_co2_concat_df_2014_filtered = gdp_co2_concat_df_2014.loc[gdp_co2_concat_df_2014.isnull().any(axis= 1)]
gdp_co2_concat_df_2014_filtered.shape

(17, 2)

# 2 - Time Series

In [35]:
gdp_per_capita_df.loc[gdp_per_capita_df['Country Code'] == 'GBR']

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Code,,,,,,,,,,,,,,,,,,,,,
GBR,United Kingdom,GBR,GDP per capita (current US$),NY.GDP.PCAP.CD,1380.306241,1452.544709,1513.651449,1592.614477,1729.399978,1850.954769,...,39079.842606,41652.557085,42018.725464,42938.425176,46967.668135,44472.151701,40539.919607,39932.060292,42491.364435,NaN